---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';

import projects from "../data/projects.json";
---

<script>
	import "../scripts/colours.ts";
</script>

<Layout title="Hi, my name is Ethan.">
	<main>
		<div class="title">Hi, my name is Ethan.</div>
		<div class="subtitle">I like making software, games, and other cool things.</div>
		<div class="projects-grid">
			{
				projects.map((project) => (
					<Project
						title={project.title}
						body={project.body}
						href={project.href}
						techs={project.techs}
					/>
				))
			}
		</div>
		<a class="attribution" href="https://www.flaticon.com/free-icons/wave" title="wave icons" target="_blank" rel="noopener noreferrer">Wave icons created by Ayub Irawan - Flaticon</a>
	</main>
</Layout>

<style>
	body {
		display: flex;
		justify-content: center;
	}
	main {
		display: flex;
		max-width: 900px;
		flex-wrap: wrap;
	}
	.title {
		width: 100%;
		height: auto;
		margin: 48px 24px 0px 24px;

		font-weight: 600;
		font-size: 48px;
		line-height: 58px;

		color: #000000;
	}
	.subtitle {
		width: 100%;
		height: auto;
		margin: 48px 24px 0px 24px;

		font-weight: 400;
		font-size: 32px;
		line-height: 44px;

		color: #000000;
	}
	.projects-grid {
		width: 100%;
		height: auto;
		margin-top: 64px;

		display: grid;
		grid-template-columns: repeat(auto-fill, 450px);
		row-gap: 24px;
		justify-content: center;
	}
	.attribution {
		width: 100%;
		height: auto;
		margin: 48px 16px 16px 16px;
	}
</style>
