---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hi, my name is Ethan.">
	<main>
		<div class="title">Hi, my name is Ethan.</div>
		<div class="subtitle">I like making software, games, and other cool things.</div>
		<div class="projects-grid">
			<Card
				title="thedenny.space"
				body="My personal portfolio, and where you are right now!"
				href="https://github.com/EthanDenny/thedenny-space"
			/>
			<Card
				title="Umbrella"
				body="It's rainin'"
				href="https://github.com/EthanDenny/umbrella"
			/>
			<Card
				title="Tiny Text Editor"
				body="A minimalist text editor with pleasant colours."
				href="https://github.com/EthanDenny/tiny-text-editor"
			/>
			<Card
				title="BLASCII"
				body="A text-based top-down shooter."
				href="https://github.com/EthanDenny/blascii"
			/>
			<Card
				title="TOY Assembler"
				body="An assembler for the X-TOY imaginary machine."
				href="https://github.com/EthanDenny/toy-assembler"
			/>
			<Card
				title="Python X-TOY"
				body="A Python implementation of the TOY imaginary machine."
				href="https://github.com/EthanDenny/python-x-toy"
			/>
			<Card
				title="brainf*ck interpreter"
				body="A simple brainf*ck interpreter written in Python."
				href="https://github.com/EthanDenny/brainfuck-interpreter-py"
			/>
			<Card
				title="Rock Paper Scissors"
				body="A simulator for a rock-paper-scissors-like game."
				href="https://github.com/EthanDenny/rock-paper-scissors"
			/>
		</div>
		<a class="attribution" href="https://www.flaticon.com/free-icons/wave" title="wave icons" target="_blank" rel="noopener noreferrer">Wave icons created by Ayub Irawan - Flaticon</a>
	</main>
</Layout>

<style>
	body {
		display: flex;
		justify-content: center;
	}
	main {
		display: flex;
		max-width: 900px;
		flex-wrap: wrap;
	}
	.title {
		width: 100%;
		height: auto;
		margin: 48px 24px 0px 24px;

		font-weight: 600;
		font-size: 48px;
		line-height: 58px;

		color: #000000;
	}
	.subtitle {
		width: 100%;
		height: auto;
		margin: 48px 24px 0px 24px;

		font-weight: 400;
		font-size: 32px;
		line-height: 44px;

		color: #000000;
	}
	.projects-grid {
		width: 100%;
		height: auto;
		margin-top: 64px;

		display: grid;
		grid-template-columns: repeat(auto-fill, 450px);
		row-gap: 24px;
		justify-content: center;
	}
	.attribution {
		width: 100%;
		height: auto;
		margin: 48px 16px 16px 16px;
	}
</style>
