---
export interface Props {
  title: string;
  body: string;
  href: string;
  techs: string;
}

const { href, title, body, techs } = Astro.props;
---

<div class="project-card">
  <a href={href} target="_blank" rel="noopener noreferrer">
    <div class="inner">
      <div class="project-title">{title}</div>
      <div class="project-description">{body}</div>
      <div class="project-techs">{techs}</div>
    </div>
  </a>
</div>

<style>
  .project-card {
    width: 100%;
    max-width: 434px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    transition: transform 0.2s;
  }
  .inner {
    padding: 2.5rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-card:hover {
    transform: scale(
      1.1
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .project-title {
    font-weight: 500;
    font-size: 32px;
    /* identical to box height */

    color: #000000;
  }
  .project-description {
    font-weight: 400;
    font-size: 24px;

    color: #000000;
  }
  .project-techs {
    font-weight: 425;
    font-size: 24px;

    color: #000000;
  }
  a {
    text-decoration: none;
  }
</style>
